<!DOCTYPE html>
<title>Main Page</title>
{% extends "main/base.html" %}
{% block body_block %}
{% load static %}
<!-- CSS Links -->
<link rel="stylesheet" href="{% static "css/downloaded_css/fontawesome.css" %}"/>
<link rel="stylesheet" href="{% static "css/downloaded_css/bootstrap.css" %}"/>
<link rel="stylesheet" href="{% static "css/my_css/home.css" %}"/>
<link rel="stylesheet" href="{% static "css/my_css/base.css" %}"/>

<div class="jumbotron pagemain-sectiontwo-container">
  <h2>You Are Logged Out</h2>
</div>





{% endblock %}
