

/****** PAGE MAIN CONTAINER  ******/

.ttw-products-maincontainer{
  margin: 0 0 0 0 !important;
  margin-right: 0px !important;
  padding: 0 !important;
  min-width: 100%;
}

/****** /PAGE MAIN CONTAINER  ******/

/****** SECTION ONE CONTAINER  ******/

.ttw-product-containerproduct{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  height: 50%;
  background-color: transparent;
  margin: 0 !important;
  padding: 0;
  grid-gap: 0rem;
  width: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.ttw-product-containerimg{
  margin: 0 !important;
  padding: 5vw 2vw 0vw 2vw  !important;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  max-width: 100%;
}

.product-img{
  max-width: 50%;
  height: auto;
}

.ttw-product-containerinfo{
  margin: 0 !important;
  padding: 20px 2vw 20px 2vw  !important;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  max-width: 100%;
}

.ttw-products-description{
}
/****** /SECTION ONE CONTAINER  ******/
